streamlit
firebase-admin
PyPDF2
Pillow
faiss-cpu
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-google-genai
sentence-transformers
transformers
torch
