streamlit==1.32.0
streamlit-lottie
requests
PyPDF2
Pillow
torch==2.0.1
transformers==4.36.2

langchain==0.1.14
langchain-core==0.1.40
langchain-community==0.0.29
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.3
langchain-google-genai==0.0.6

sentence-transformers==2.2.2
supabase
